
    <div class="container">
        
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-8">
                <h2>Parents - Kids - Activities - $$$$s</h2>
                <p>
                    Today, college preparation has become highly commercial business. Parents spend thousands of dollars to engage their kids in various activities.
                    
                    There are a number of free events available in each location that help students to develop well rounded personality and prepare them for the college and beyond.
                </p>
                <p>
                    You can always find some free events in your area. Here are few free events available in most locations.
                </p>
                        <ul>
                          <li>SAT Coaching classes</li>
                          <li>Coding Hackthons</li>
                          <li>Sport activities</li>
                          <li>tons of others ...</li>
                            <br>
                            Find free events, participate and get benefitted.
                        </ul>
                    
               
                <p>                   
                    If you know about some free event useful for kids, publish here for the benefit of others.                    
                </p>

            </div>
            <div class="col-xs-12 col-sm-4">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Just 3 Things</h3>
                    </div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Find an Event</dt>
                       </dl>
                        <dl class="dl-horizontal">
                            <dt>Benefit from the Event</dt>
                       </dl>
                        <dl class="dl-horizontal">
                            <dt>Share Other Events</dt>
                       </dl>                        
                    </div>
                </div>
            </div>
        </div>        
        
    </div>
